
li::before{
    content: " ⚾ ";

}

li {
    list-style: none;
}


body {
    margin: 0;
    font-family: monospace;
}

#main-wrapper {
    height: 100vh; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15%  auto 15%;
}
#main-header {
    display: flex;
    justify-content: center;
    background: #25ee54;
    opacity: .8;
    padding: 1rem;
}

#visited {
    background: orange; 
    text-align: center;
    font-size: medium;

}

.main-title {
    background: violet;
    text-align: center;
    font-size: large;
}

#wishlist {
    background: blue;
    text-align: center;
    font-size: medium;
}
#top-rated {
    background: green;
    text-align: center;
    font-size: medium;
}

#inner-main {
    height: 80vh;
    display: grid;
    grid-template-columns: 25% auto 25%;
    width: 100%;
    background: red;
}

.area-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

#form{
    width: 100%;
}

#ballpark-details {

    
}