
.ballpark-list::before{
    content: " ⚾ ";

}

.wish-li::before{
    content: " ♥️ "
}

li {
    list-style: none;
}


body {
    margin: 0;
    font-family: monospace;
}

#main-wrapper {
    margin: auto;
    height: 205vh; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15%  auto 15%;
    background-image: url("https://wallpapercave.com/wp/OELdkBa.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#main-header {
    color: rgb(0, 7, 98);
    display: flex;
    justify-content: center;
    background: #00721b;
    opacity: .8;
    padding: 1rem;
    /* background-image: url(https://www.freewebheaders.com/wp-content/gallery/baseball/thumbs/thumbs_baseball-ball-header.jpg); */
    background: url(https://lh3.googleusercontent.com/proxy/R-RDyIb0DOdfZNzVg45p6s-eXxzwI6DsihdLOR0h0msFnMK1iXh7VG6Mne3tScuJPzWaPT6hGqdTQXhWwIqy5Vix68Hnh2HGOio-Zvtm8-2z-wf7A4tXZT2w);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

#visited {
    background: rgba(68, 70, 33, 0.431);
    /* border: 1px solid yellow; */
    text-align: center;
    font-size: medium;

}

.main-title {
    background: rgba(70, 33, 70, 0.431);
    /* border: 1px solid yellow; */
    text-align: center;
    font-size: large;
}

#wishlist {
    background: rgba(70, 33, 42, 0.431);
    /* border: 1px solid blue; */
    text-align: center;
    font-size: medium;
}
#top-rated {
    background: rgba(70, 33, 70, 0.431);
    /* border: 1px solid green; */
    text-align: center;
    font-size: medium;
}

#inner-main {
    height: auto;
    display: grid;
    grid-template-columns: 25% auto 25%;
    width: 100%;
    background: rgba(70, 33, 70, 0.431);
    /* border: 1px solid red; */
}

.area-container {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

#form{
    width: 100%;
}

#login-container{
    font-size: 15px;
    color: rgb(255, 253, 253);
    /* display: flex; */
    /* justify-content: center; */
    margin: auto;
    text-align: center;
    
    background-color: #0004ff93;
}


#ballpark-image {

    width: 400px !important;

}

.fav-team-form{

    position: absolute;
    top: 3em;
    left: 10em;

}

#user-rating{
    margin-top: 10em;
}